*{
    margin: 0px;
}
#heading{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey; text-shadow: 3px 1px 1px;
   text-decoration-line: underline;
 text-align: center;
   height:100px;


}
.div-parent{
    background-color: aquamarine;
    height: 300px;
text-align: center;

font-size: medium; color: blue;
}
.button-parent{
    background-color: tomato;
    border-style: solid;
    border-color: brown;
    padding: 15px 15px;
}